version: '3.7'

# Settings and configurations that are common for all containers
x-minio-common: &minio-common
  image: quay.io/minio/minio:RELEASE.2023-01-12T02-06-16Z
  command: server --console-address ":9001" http://minio{1...{{ number_of_nodes }}}/data{1...2}
  expose:
    - "9000"
    - "9001"
  environment:
    MINIO_ROOT_USER: '/run/secrets/access_key'
    MINIO_ROOT_PASSWORD: '/run/secrets/secret_key'
  secrets:
      - secret_key
      - access_key
  healthcheck:
    test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
    interval: 30s
    timeout: 20s
    retries: 3

# starts docker containers running minio server instances.
# using nginx reverse proxy, load balancing, you can access
# it through port 9000.
services:
  nginx:
    image: nginx:1.19.2-alpine
    hostname: nginx
    volumes:
      - /home/vagrant/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "9000:9000"
      - "9001:9001"
    depends_on:
{% for i in range(1, number_of_nodes + 1) %}
      - minio{{ i }}
{% endfor %}

{% for i in range(1, number_of_nodes + 1) %}
  minio{{ i }}:
    <<: *minio-common
    hostname: minio{{ i }}
    volumes:
      - data{{ i }}-1:/data1
      - data{{ i }}-2:/data2
{% endfor %}

## By default this config uses default local driver,
## For custom volumes replace with volume driver configuration.
volumes:
{% for i in range(1, number_of_nodes + 1) %}
  data{{ i }}-1:
  data{{ i }}-2:
{% endfor %}

secrets:
  secret_key:
    external: true
  access_key:
    external: true
...